// scss-lint:disable ColorVariable
html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #000;
  font-family: $font-primary-light;
  font-size: 1rem;
  font-smoothing: antialiased;
  line-height: 1.33;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin-bottom: $margin-default / 2;
}

p,
li {
  @include set-font-size(1.8rem, 1.8rem, 1.8rem);
  line-height: 1.3;
}

p {
    margin-bottom: $spacing--small;
}

h1 {
  @include set-font-size(3rem, 3rem, 3rem);
}

h2 {
  @include set-font-size(2.7rem, 2.7rem, 2.7rem);
}

h3 {
  @include set-font-size(2.3rem, 2.3rem, 2.3rem);
}

h4 {
  @include set-font-size(2rem, 2rem, 2rem);
}

blockquote {
  @include set-font-size(2rem, 2rem, 2rem);
  margin: 0;
}


.title {

    &--color {
        color: $color-alpha;
    }

}



small {
    text-transform: uppercase;
    @include set-font-size(1.2rem, 1.2rem, 1.2rem);
    font-family: $font-primary-semibold;
    color: $color-alpha;

    a {
        text-decoration: none!important;
        color: $color-alpha!important;
    }

}

.post {

    lost-utility: clearfix;

    a {
        color: $color-alpha;
        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        color: $color-alpha;
        margin-bottom: $spacing--large;
        padding-bottom: $spacing--large;
        border-bottom: solid 1px $grey--light
    }
    h3 {
        text-transform: uppercase;
        font-family: $font-primary-book;
        @include set-font-size(2rem, 2rem, 2rem);
        color: $black;
    }
}


.wpex-link {
    @include set-font-size(1.8rem, 1.8rem, 1.8rem);
    color: $color-alpha!important;
    text-decoration: none!important;
    margin-bottom: $spacing--small;
    display: block;
}


sup {
    vertical-align: super;
    font-size: smaller;
}
