.c-hamburger {
    //display: block;

    // Desktop
    @include breakpoint($small) {
        display: none;
    }
}

// Desktop navigation
.primary-site-nav {
    display: none;

    // Desktop
    @include breakpoint($small) {
        display: block;
    }

}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba($white, .95); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

    &__content {
        position: relative;
        top: 25%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }

}


// Is open

body.js_active {

    .overlay {
        width: 100%;
    }

}

.mobile-navigation {

    .menu-item {

        font-family: $font-primary-light;
        text-transform: uppercase;
        display: block;
        line-height: 2.4;
        @include set-font-size(2.1rem, 2.1rem, 2.1rem);
        margin: 0;
        padding: 0;

        a {
            color: $color-alpha;
            display: inline-block;

        }

    }

    .current-menu-item {

        a {
            font-weight: 700;
            &::after {
                bottom: 0;
            }
        }

    }

}
